﻿extends layout

block content
  div.grid-x.grid-margin-x
  if(typeof message !== 'undefined')
    div.callout.warning.cell(data-closable)
      button.close-button(aria-label='Close alert' type='button' data-close)
        span(aria-hidden='true') &times;
      p #{message}
  div.grid-x.grid-margin-x
    form.callout.text-center.medium-6.large-4.large-offset-4.medium-offset-3.cell(action='/users/create', name='create', id='create', method='post')
      h2 #{title}
      div.floated-label-wrapper
        label(for='email') Your Email
        input(name='email', type='email', placeholder='Your Email', id='email', required, value= email)
      div.floated-label-wrapper
        label(for='username') Username
        input(name='username', type='text', placeholder='Username', id='username', required, value= username)
      div.floated-label-wrapper
        label(for='password') Your Password
        input(name='password', type='password', placeholder='Your Password', id='password', required, value= password)
      input.button.expanded(name='submit', type='submit', value='Sign Up', id='submit')

  block footer

block scripts
  script(type='text/javascript', src='/javascripts/floatLabels.js')
