﻿doctype html
html(lang='en', class='no-js')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    title
      block title
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.2.4.min.js' crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/main.css')

  body
    block content

    footer#footer
      block footer

    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js' crossorigin='anonymous')
    script(type='text/javascript', src='/javascripts/init.js')

    block scripts
